// colors
$brand-color: #0070C0;
$brand-hover-color: #ef6065;
$brand-active-color: #ef6065;
$brand-secondary-color: #fef7f7;

$app-text: #ffffff;

$secondary-color: #dddfe0;
$secondary-hover-color: #e5e5e5;
$secondary-active-color: #f8f8f8;

$primary-background: #ffffff;
$secondary-background: #f8f8f8;

$app-black: #1c2339;

$border-color: #cbcaca;

$grey-color: #eaf0f3;

$light-red-color: #ef6065;
$bright-red-color: #df2c2c;

$app-border-color: #cbcaca;
$checkout-payment-background: #eef2f5;

$disable-color: #7c7979;
