.nav {
    display:flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    padding: 12px;
    margin-right: 40px;
    .link {
        cursor: pointer;
        color: black;
    }
}
